@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

header{
    margin: -1rem
}

.hrow1{
    height: 4.6em;
    display:flex;
    align-content: bottom;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: 'Raleway', sans-serif;
    background:rgb(51, 169, 199);
    color:white;
}
.logo{
    justify-content:right;
}
.brand{
    margin-left:1rem;
    font-size:3rem;
}
.hrow2{
    display:flex;
    height: auto;
    padding-left:1rem;
    grid-template-columns:10fr 0.8fr;
    background:rgb(25, 36, 36);
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 1.1em;
}
.hrow2links{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap:10px;
    padding-left:10px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width:1100px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f0f0;
    margin: 5px;
    padding: auto;
  }

.welcome{
    margin: 2rem;
    margin-right: 3rem;
    font-family: 'Noto Sans', sans-serif;
}