@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,body{
    margin:0%;
    padding:0%;
}

.hrow1{
    height: 4.6em;
    display:flex;
    flex-wrap: wrap;
    align-content: bottom;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: 'Raleway', sans-serif;
    background:rgb(51, 169, 199);
    color:white;
}
.logo{
    justify-content:right;
}
.brand{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color:white;
}
.brand:hover{
    color:rgb(1, 14, 17);
}
.hrow2{
    display:grid;
    height: auto;
    padding-left:1rem;
    grid-template-columns:10fr 0.8fr;
    background:rgb(25, 36, 36);
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 1.1em;
}
.hrow2links{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap:10px;
    padding-left:10px;
}
 



/* make box resposive */
.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f0f0;
    border: 1px solid black;
    font-size: 1.1em;
    margin-left: 1.5%;
    width:80%;
    border-radius:4px;
    box-shadow:rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
    overflow:hidden;
}



.welcome{
    margin: 2rem;
    margin-right: 3rem;
    font-family: 'Noto Sans', sans-serif;
}



